USE [Admission_Affiliation]
GO
/****** Object:  Index [UQ__District__F4708CA452576EBF]    Script Date: 01-Jun-26 10:23:40 AM ******/
ALTER TABLE [dbo].[DistrictMaster] DROP CONSTRAINT [UQ__District__F4708CA452576EBF]
GO
/****** Object:  Table [dbo].[TalukMaster]    Script Date: 01-Jun-26 10:23:40 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TalukMaster]') AND type in (N'U'))
DROP TABLE [dbo].[TalukMaster]
GO
/****** Object:  Table [dbo].[DistrictMaster]    Script Date: 01-Jun-26 10:23:40 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DistrictMaster]') AND type in (N'U'))
DROP TABLE [dbo].[DistrictMaster]
GO
/****** Object:  Table [dbo].[DistrictMaster]    Script Date: 01-Jun-26 10:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictMaster](
	[DistrictID] [varchar](6) NOT NULL,
	[DistrictName] [nvarchar](100) NOT NULL,
	[FromPostalCode] [char](6) NOT NULL,
	[ToPostalCode] [char](6) NOT NULL,
	[StateId] [varchar](5) NOT NULL,
 CONSTRAINT [PK_DistrictMaster] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TalukMaster]    Script Date: 01-Jun-26 10:23:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TalukMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TalukID] [varchar](10) NOT NULL,
	[DistrictID] [varchar](6) NOT NULL,
	[TalukName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__TalukMas__54E8482A915BA554] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DistrictMaster] ([DistrictID], [DistrictName], [FromPostalCode], [ToPostalCode], [StateId]) VALUES (N'D01', N'BAGALKOTE', N'586113', N'587330', N'ST011')
INSERT [dbo].[DistrictMaster] ([DistrictID], [DistrictName], [FromPostalCode], [ToPostalCode], [StateId]) VALUES (N'D02', N'BELAGAVI', N'583101', N'583276', N'ST011')
INSERT [dbo].[DistrictMaster] ([DistrictID], [DistrictName], [FromPostalCode], [ToPostalCode], [StateId]) VALUES (N'D03', N'BALLARI', N'590001', N'591345', N'ST011')
GO
SET IDENTITY_INSERT [dbo].[TalukMaster] ON 

INSERT [dbo].[TalukMaster] ([Id], [TalukID], [DistrictID], [TalukName]) VALUES (1, N'T001', N'D17', N'AFZALPURA')
INSERT [dbo].[TalukMaster] ([Id], [TalukID], [DistrictID], [TalukName]) VALUES (2, N'T002', N'D09', N'AJJAMPURA')
INSERT [dbo].[TalukMaster] ([Id], [TalukID], [DistrictID], [TalukName]) VALUES (3, N'T003', N'D17', N'ALANDA')
GO
SET IDENTITY_INSERT [dbo].[TalukMaster] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__District__F4708CA452576EBF]    Script Date: 01-Jun-26 10:23:41 AM ******/
ALTER TABLE [dbo].[DistrictMaster] ADD UNIQUE NONCLUSTERED 
(
	[DistrictName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
