USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[LIC_InspectionCollege_Details]    Script Date: 08-Apr-26 12:59:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LIC_InspectionCollege_Details]') AND type in (N'U'))
DROP TABLE [dbo].[LIC_InspectionCollege_Details]
GO
/****** Object:  Table [dbo].[LIC_InspectionCollege_Details]    Script Date: 08-Apr-26 12:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIC_InspectionCollege_Details](
	[Id] [int] NOT NULL,
	[AcademicYear] [varchar](50) NULL,
	[ACMember] [nvarchar](150) NULL,
	[AcMember_Phno] [bigint] NULL,
	[SenetMember] [nvarchar](150) NULL,
	[SenetMember_PhNo] [bigint] NULL,
	[SubjectExpertise] [nvarchar](150) NULL,
	[SubjectExpertise_PhNo] [bigint] NULL,
	[facultycode] [int] NULL,
	[Collegename] [nvarchar](100) NULL,
	[CollegePlace] [nvarchar](150) NULL,
	[Collegecode] [nvarchar](50) NULL,
	[SE_RevisedOrder] [varbinary](max) NULL,
 CONSTRAINT [PK_LIC_InspectionCollege_Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
