USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[DepartmentMaster]    Script Date: 08-Sep-26 2:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[DepartmentCode] [varchar](50) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[CourseCode] [varchar](50) NULL,
	[DepartmentFilter] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DepartmentMaster] ON 

INSERT [dbo].[DepartmentMaster] ([Id], [FacultyCode], [DepartmentCode], [DepartmentName], [CourseCode], [DepartmentFilter]) VALUES (1, 1, N'MD001', N'Anatomy', N'1063', N'Y')
INSERT [dbo].[DepartmentMaster] ([Id], [FacultyCode], [DepartmentCode], [DepartmentName], [CourseCode], [DepartmentFilter]) VALUES (2, 1, N'MD002', N'Physiology', N'1039', N'Y')
INSERT [dbo].[DepartmentMaster] ([Id], [FacultyCode], [DepartmentCode], [DepartmentName], [CourseCode], [DepartmentFilter]) VALUES (3, 1, N'MD003', N'Biochemistry', N'1038', N'Y')
SET IDENTITY_INSERT [dbo].[DepartmentMaster] OFF
GO
