USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[AFF_HostelDetails]    Script Date: 08-Apr-26 12:45:55 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AFF_HostelDetails]') AND type in (N'U'))
DROP TABLE [dbo].[AFF_HostelDetails]
GO
/****** Object:  Table [dbo].[AFF_HostelDetails]    Script Date: 08-Apr-26 12:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFF_HostelDetails](
	[HostelDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](50) NOT NULL,
	[CollegeCode] [nvarchar](50) NOT NULL,
	[HostelType] [nvarchar](50) NOT NULL,
	[BuiltUpAreaSqFt] [nvarchar](200) NOT NULL,
	[HasSeparateHostel] [bit] NOT NULL,
	[SeparateProvisionMaleFemale] [bit] NOT NULL,
	[TotalFemaleStudents] [nvarchar](200) NOT NULL,
	[TotalFemaleRooms] [nvarchar](200) NOT NULL,
	[TotalMaleStudents] [nvarchar](200) NOT NULL,
	[TotalMaleRooms] [nvarchar](200) NOT NULL,
	[PossessionProofPath] [varbinary](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CommonRoomMen] [bit] NULL,
	[CommonRoomWomen] [bit] NULL,
	[AnyOtherFacility] [nvarchar](500) NULL,
	[HostelFacilityDetails] [nvarchar](1000) NULL,
	[HostelMenCount] [int] NULL,
	[HostelWomenCount] [int] NULL,
	[OwnOrRented] [nvarchar](50) NULL,
	[SpacePerStudent] [decimal](10, 2) NULL,
	[SleepingFurniture] [bit] NULL,
	[SanitaryBathing] [bit] NULL,
	[DiningHall] [bit] NULL,
	[HostelCommonRoom] [bit] NULL,
	[VisitorsRoom] [bit] NULL,
	[KitchenPantry] [bit] NULL,
	[WardenOffice] [bit] NULL,
	[ReceptionCounter] [bit] NULL,
	[GamesRecreation] [bit] NULL,
	[MedicalFacilities] [bit] NULL,
	[CourseLevel] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[HostelDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
