USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[MST_IndoorBedsDepartmentMaster]    Script Date: 08-Apr-26 4:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_IndoorBedsDepartmentMaster](
	[DeptId] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationTypeId] [int] NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_MST_IndoorBedsDepartmentMaster] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_IndoorBedsOccupancyMaster]    Script Date: 08-Apr-26 4:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_IndoorBedsOccupancyMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AffiliationTypeId] [int] NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[DepartmentCode] [int] NOT NULL,
	[SeatSlabId] [varchar](10) NOT NULL,
	[RequiredBeds] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_IndoorInfrastructureRequirementsMaster]    Script Date: 08-Apr-26 4:17:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_IndoorInfrastructureRequirementsMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationTypeId] [int] NOT NULL,
	[SectionName] [varchar](200) NOT NULL,
	[RequirementName] [varchar](1000) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[SectionCode] [varchar](50) NULL,
 CONSTRAINT [PK_MST_IndoorInfrastructureRequirementsMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MST_IndoorInfrastructureRequirementsMaster] ON 

INSERT [dbo].[MST_IndoorInfrastructureRequirementsMaster] ([Id], [FacultyCode], [AffiliationTypeId], [SectionName], [RequirementName], [IsActive], [CreatedOn], [SectionCode]) VALUES (1, 1, 2, N'Indoor Department (Ward)', N'Is the distance between two beds in the general ward at least 1.5 meters with all required facilities provided?', 1, CAST(N'2025-12-20T11:56:44.437' AS DateTime), N'1')
INSERT [dbo].[MST_IndoorInfrastructureRequirementsMaster] ([Id], [FacultyCode], [AffiliationTypeId], [SectionName], [RequirementName], [IsActive], [CreatedOn], [SectionCode]) VALUES (2, 1, 2, N'Indoor Department (Ward)', N'Is the ward constructed so that the nurse at the nursing station has an overview of all patients?', 1, CAST(N'2025-12-20T11:56:44.437' AS DateTime), N'1')
INSERT [dbo].[MST_IndoorInfrastructureRequirementsMaster] ([Id], [FacultyCode], [AffiliationTypeId], [SectionName], [RequirementName], [IsActive], [CreatedOn], [SectionCode]) VALUES (3, 1, 2, N'Indoor Department (Ward)', N'Is an examination and treatment room available in the ward?', 1, CAST(N'2025-12-20T11:56:44.437' AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[MST_IndoorInfrastructureRequirementsMaster] OFF
GO
ALTER TABLE [dbo].[MST_IndoorInfrastructureRequirementsMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MST_IndoorInfrastructureRequirementsMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[MST_IndoorBedsDepartmentMaster]  WITH CHECK ADD  CONSTRAINT [FK_MST_IndoorBedsDepartmentMaster_AffiliationTypeId] FOREIGN KEY([AffiliationTypeId])
REFERENCES [dbo].[TypeOfAffiliation] ([TypeId])
GO
ALTER TABLE [dbo].[MST_IndoorBedsDepartmentMaster] CHECK CONSTRAINT [FK_MST_IndoorBedsDepartmentMaster_AffiliationTypeId]
GO
ALTER TABLE [dbo].[MST_IndoorBedsDepartmentMaster]  WITH CHECK ADD  CONSTRAINT [FK_MST_IndoorBedsDepartmentMaster_FacultyCode] FOREIGN KEY([FacultyCode])
REFERENCES [dbo].[Faculty] ([FacultyId])
GO
ALTER TABLE [dbo].[MST_IndoorBedsDepartmentMaster] CHECK CONSTRAINT [FK_MST_IndoorBedsDepartmentMaster_FacultyCode]
GO
ALTER TABLE [dbo].[MST_IndoorBedsOccupancyMaster]  WITH CHECK ADD  CONSTRAINT [FK_IndoorBeds_Affiliation] FOREIGN KEY([AffiliationTypeId])
REFERENCES [dbo].[TypeOfAffiliation] ([TypeId])
GO
ALTER TABLE [dbo].[MST_IndoorBedsOccupancyMaster] CHECK CONSTRAINT [FK_IndoorBeds_Affiliation]
GO
ALTER TABLE [dbo].[MST_IndoorBedsOccupancyMaster]  WITH CHECK ADD  CONSTRAINT [FK_IndoorBeds_Department] FOREIGN KEY([DepartmentCode])
REFERENCES [dbo].[MST_IndoorBedsDepartmentMaster] ([DeptId])
GO
ALTER TABLE [dbo].[MST_IndoorBedsOccupancyMaster] CHECK CONSTRAINT [FK_IndoorBeds_Department]
GO
ALTER TABLE [dbo].[MST_IndoorBedsOccupancyMaster]  WITH CHECK ADD  CONSTRAINT [FK_IndoorBeds_Faculty] FOREIGN KEY([FacultyCode])
REFERENCES [dbo].[Faculty] ([FacultyId])
GO
ALTER TABLE [dbo].[MST_IndoorBedsOccupancyMaster] CHECK CONSTRAINT [FK_IndoorBeds_Faculty]
GO
ALTER TABLE [dbo].[MST_IndoorInfrastructureRequirementsMaster]  WITH CHECK ADD  CONSTRAINT [FK_IndoorInfraReq_Affiliation] FOREIGN KEY([AffiliationTypeId])
REFERENCES [dbo].[TypeOfAffiliation] ([TypeId])
GO
ALTER TABLE [dbo].[MST_IndoorInfrastructureRequirementsMaster] CHECK CONSTRAINT [FK_IndoorInfraReq_Affiliation]
GO
ALTER TABLE [dbo].[MST_IndoorInfrastructureRequirementsMaster]  WITH CHECK ADD  CONSTRAINT [FK_IndoorInfraReq_Faculty] FOREIGN KEY([FacultyCode])
REFERENCES [dbo].[Faculty] ([FacultyId])
GO
ALTER TABLE [dbo].[MST_IndoorInfrastructureRequirementsMaster] CHECK CONSTRAINT [FK_IndoorInfraReq_Faculty]
GO
