USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[LIC_TA_DA_Edit_Log]    Script Date: 01-06-2026 15:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIC_TA_DA_Edit_Log](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[ApprovalId] [int] NOT NULL,
	[AcademicYear] [nvarchar](20) NULL,
	[FacultyCode] [int] NULL,
	[CollegeCode] [nvarchar](50) NULL,
	[MemberName] [nvarchar](200) NULL,
	[TypeOfMembers] [nvarchar](100) NULL,
	[MobileNo] [nvarchar](20) NULL,
	[IsBanglore] [bit] NULL,
	[Division] [nvarchar](100) NULL,
	[Old_Kilometers] [decimal](18, 2) NULL,
	[New_Kilometers] [decimal](18, 2) NULL,
	[Old_ReturnKilometers] [decimal](18, 2) NULL,
	[New_ReturnKilometers] [decimal](18, 2) NULL,
	[Old_TravelCost] [decimal](18, 2) NULL,
	[New_TravelCost] [decimal](18, 2) NULL,
	[Old_DACost] [decimal](18, 2) NULL,
	[New_Dacost] [decimal](18, 2) NULL,
	[Old_LCACost] [decimal](18, 2) NULL,
	[New_Lcacost] [decimal](18, 2) NULL,
	[Old_IsLCA] [bit] NULL,
	[New_IsLca] [bit] NULL,
	[Old_AirRoadCost] [decimal](18, 2) NULL,
	[New_AirRoadCost] [decimal](18, 2) NULL,
	[Old_AirFair] [decimal](18, 2) NULL,
	[New_AirFair] [decimal](18, 2) NULL,
	[Old_TotalClaimAmount] [decimal](18, 2) NULL,
	[New_TotalClaimAmount] [decimal](18, 2) NULL,
	[ChangedFields] [nvarchar](max) NULL,
	[EditedBy] [nvarchar](100) NULL,
	[EditorDesignation] [nvarchar](100) NULL,
	[EditedAt] [datetime] NOT NULL,
	[EditedAtStage] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIC_TA_DA_Edited_Finance_Log]    Script Date: 01-06-2026 15:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIC_TA_DA_Edited_Finance_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AcademicYear] [varchar](100) NULL,
	[FacultyCode] [int] NULL,
	[CollegeCode] [varchar](20) NOT NULL,
	[memberName] [nvarchar](50) NULL,
	[TypeOfMembers] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](12) NULL,
	[FromPlace] [nvarchar](200) NULL,
	[ToPlace] [nvarchar](200) NULL,
	[Kilometers] [decimal](10, 2) NULL,
	[ReturnFromPlace] [nvarchar](200) NULL,
	[ReturnToPlace] [nvarchar](200) NULL,
	[ReturnKilometers] [decimal](10, 2) NULL,
	[TotalClaimAmount] [decimal](18, 2) NOT NULL,
	[IsBanglore] [bit] NULL,
	[AirFair] [decimal](18, 2) NULL,
	[TravelCost] [decimal](18, 2) NULL,
	[DACost] [decimal](18, 2) NULL,
	[LCACost] [decimal](18, 2) NULL,
	[CollegeCost] [decimal](18, 2) NULL,
	[AirRoadCost] [decimal](18, 2) NULL,
	[Division] [nvarchar](50) NULL,
	[IsLCA] [bit] NULL,
	[EditedBy] [varchar](200) NULL,
	[EditorDesignation] [varchar](200) NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIC_Workflow_Movement_Log]    Script Date: 01-06-2026 15:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIC_Workflow_Movement_Log](
	[MovementId] [int] IDENTITY(1,1) NOT NULL,
	[ApprovalId] [int] NOT NULL,
	[FromStage] [varchar](30) NULL,
	[ToStage] [varchar](30) NOT NULL,
	[FromUserId] [int] NULL,
	[ToUserId] [int] NULL,
	[ActionType] [varchar](20) NOT NULL,
	[Remarks] [varchar](1000) NULL,
	[ActionByUserId] [int] NOT NULL,
	[ActionByDesignation] [varchar](30) NULL,
	[ActionAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICCollegeApproval]    Script Date: 01-06-2026 15:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICCollegeApproval](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NULL,
	[CollegeCode] [varchar](20) NOT NULL,
	[AcademicYear] [varchar](100) NULL,
	[memberName] [nvarchar](50) NULL,
	[TypeOfMembers] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](12) NULL,
	[FromPlace] [nvarchar](200) NULL,
	[ToPlace] [nvarchar](200) NULL,
	[Kilometers] [decimal](10, 2) NULL,
	[ReturnFromPlace] [nvarchar](200) NULL,
	[ReturnToPlace] [nvarchar](200) NULL,
	[ReturnKilometers] [decimal](10, 2) NULL,
	[TotalClaimAmount] [decimal](18, 2) NOT NULL,
	[IsBanglore] [bit] NULL,
	[AirFair] [decimal](18, 2) NULL,
	[NoOfDays] [nvarchar](150) NULL,
	[TravelCost] [decimal](18, 2) NULL,
	[DACost] [decimal](18, 2) NULL,
	[LCACost] [decimal](18, 2) NULL,
	[CollegeCost] [decimal](18, 2) NULL,
	[AirRoadCost] [decimal](18, 2) NULL,
	[Division] [nvarchar](50) NULL,
	[IsLCA] [bit] NULL,
	[DR_ApprovalStatus] [varchar](20) NOT NULL,
	[DR_Remarks] [varchar](1000) NULL,
	[DRApprovedBy] [varchar](100) NULL,
	[DRApprovedDate] [datetime] NULL,
	[FO_Level1_ApprovedStatus] [varchar](20) NULL,
	[FO_Level1_Remarks] [varchar](1000) NULL,
	[FO_Level1_ForwardedDate] [datetime] NULL,
	[F_CaseWorker_Approve_Status] [varchar](20) NULL,
	[F_CaseWorker_Approve_Remarks] [varchar](1000) NULL,
	[F_CaseWorker_Approved_Date] [datetime] NULL,
	[F_AO_SP_Approved_Status] [varchar](20) NULL,
	[F_AO_SP_Approved_Remarks] [varchar](1000) NULL,
	[F_AO_SP_Approved_Date] [datetime] NULL,
	[FO_Level2_ApprovedStatus] [varchar](20) NULL,
	[FO_Level2_ApprovedRemarks] [varchar](1000) NULL,
	[FO_Level2_ApprovedDate] [datetime] NULL,
	[Cashier_Update] [varchar](20) NULL,
	[CashierApprovedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[LicApprovalFileName] [nvarchar](200) NULL,
	[LicApprovalFile] [varbinary](max) NULL,
	[InspectionDate] [date] NULL,
	[LicApprovalUploadedOn] [datetime] NULL,
	[FO_RoutedToUserId] [int] NULL,
	[SO_AssignedCWUserId] [int] NULL,
	[CurrentOwnerUserId] [int] NULL,
	[CurrentStage] [varchar](30) NULL,
 CONSTRAINT [PK_LICCollegeApproval] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LIC_TA_DA_Edited_Finance_Log] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[LIC_Workflow_Movement_Log] ADD  DEFAULT (getdate()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[LICCollegeApproval] ADD  CONSTRAINT [DF__LICColleg__Creat__3AA1AEB8]  DEFAULT (getdate()) FOR [CreatedDate]
GO
