USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[LICInspectionDetails]    Script Date: 08-Apr-26 3:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICInspectionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[TypeofMember] [nvarchar](100) NULL,
	[CollegeName] [nvarchar](200) NULL,
	[DateOfInspection] [date] NULL,
	[IsCompleted] [bit] NULL,
	[SelectedCollegeCode] [nvarchar](50) NULL,
	[AttendenceDoc] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[faculty] [nvarchar](10) NULL,
	[facultyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
