USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[CA_MST_CourseCurriculum]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_CourseCurriculum](
	[CurriculumId] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CurriculumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_ExaminationScheme]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_ExaminationScheme](
	[SchemeId] [int] IDENTITY(1,1) NOT NULL,
	[SchemeCode] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_LibraryEquipmentsType]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_LibraryEquipmentsType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[TypeOfEquipment] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_LibraryServicesList]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_LibraryServicesList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_CommitteeNames]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_CommitteeNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommitteeName] [nvarchar](200) NOT NULL,
	[FacultyCode] [nvarchar](20) NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_LibraryEquipments]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_LibraryEquipments](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[EquipmentName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_LibraryItems]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_LibraryItems](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[ItemName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_LibTechnicalProcess]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_LibTechnicalProcess](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[ProcessName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_OtherAcademicActivities]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_OtherAcademicActivities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [nvarchar](200) NOT NULL,
	[FacultyCode] [nvarchar](20) NOT NULL,
	[DepartmentCode] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_MediLibraryServices]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_MediLibraryServices](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_RegisterRecord]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_RegisterRecord](
	[RegisterRecordId] [int] IDENTITY(1,1) NOT NULL,
	[RegisterName] [nvarchar](300) NOT NULL,
	[FacultyId] [int] NULL,
	[CourseLevel] [varchar](5) NULL,
	[AffiliationType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegisterRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_UserDetails]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_UserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](10) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_VD_VehicleFor]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_VD_VehicleFor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[VehicleForCode] [nvarchar](10) NOT NULL,
	[VehicleForName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_YearOfStudy]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_YearOfStudy](
	[YearOfStudyId] [int] IDENTITY(1,1) NOT NULL,
	[YearName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YearOfStudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Med_CA_MST_StaffDesignation]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Med_CA_MST_StaffDesignation](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](20) NOT NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
	[Designation] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Lic_AcademicCouncilMembers]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Lic_AcademicCouncilMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ACMemberName] [varchar](50) NOT NULL,
	[CollegeCode] [varchar](20) NOT NULL,
	[CollegeName] [varchar](200) NOT NULL,
	[EmailId] [varchar](150) NULL,
	[MobileNumber] [varchar](15) NULL,
	[Address] [varchar](500) NULL,
	[AcCode] [varchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AcMemberList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_LIC_Inspection_AllotedMembersDetails]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LIC_Inspection_AllotedMembersDetails](
	[SL_No] [int] NOT NULL,
	[TypeofMemebers] [nvarchar](150) NULL,
	[College_Name] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[MemberName] [nvarchar](150) NULL,
	[Phone_No] [bigint] NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_MST_LIC_Inspection_AllotedMembersDetails] PRIMARY KEY CLUSTERED 
(
	[SL_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_LIC_Inspection_Members]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LIC_Inspection_Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeofMemebers] [nvarchar](150) NULL,
	[LICId] [nvarchar](50) NULL,
 CONSTRAINT [PK_MST_LIC_Inspection_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Lic_SenateMembers]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Lic_SenateMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[CollegeName] [nvarchar](200) NOT NULL,
	[SenateMemberName] [nvarchar](150) NOT NULL,
	[SeCode] [nvarchar](10) NOT NULL,
	[EmailId] [nvarchar](150) NULL,
	[MobileNumber] [nvarchar](15) NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Lic_SubjectExpertiseMembers]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Lic_SubjectExpertiseMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpMemberName] [varchar](50) NOT NULL,
	[CollegeCode] [varchar](20) NOT NULL,
	[CollegeName] [varchar](200) NOT NULL,
	[EmailId] [varchar](150) NULL,
	[MobileNumber] [varchar](15) NULL,
	[Address] [varchar](500) NULL,
	[ExpCode] [varchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ExpMemberList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_MedicalCourseType]    Script Date: 08-Apr-26 3:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_MedicalCourseType](
	[CourseTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CourseTypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[IsUG] [bit] NOT NULL,
	[IsPG] [bit] NOT NULL,
	[IsSS] [bit] NOT NULL,
	[Status] [nvarchar](10) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CA_MST_CourseCurriculum] ON 

INSERT [dbo].[CA_MST_CourseCurriculum] ([CurriculumId], [CurriculumName], [IsActive], [CreatedOn]) VALUES (1, N'Teaching Schedule - of the currrent Year ', 1, CAST(N'2025-12-30T16:40:40.400' AS DateTime))
INSERT [dbo].[CA_MST_CourseCurriculum] ([CurriculumId], [CurriculumName], [IsActive], [CreatedOn]) VALUES (2, N'Time Table', 1, CAST(N'2025-12-30T16:40:40.400' AS DateTime))
INSERT [dbo].[CA_MST_CourseCurriculum] ([CurriculumId], [CurriculumName], [IsActive], [CreatedOn]) VALUES (3, N'Working Hours', 1, CAST(N'2025-12-30T16:40:40.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[CA_MST_CourseCurriculum] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_ExaminationScheme] ON 

INSERT [dbo].[CA_MST_ExaminationScheme] ([SchemeId], [SchemeCode]) VALUES (1, N'RS3')
INSERT [dbo].[CA_MST_ExaminationScheme] ([SchemeId], [SchemeCode]) VALUES (2, N'RS4')
INSERT [dbo].[CA_MST_ExaminationScheme] ([SchemeId], [SchemeCode]) VALUES (3, N'RS5')
SET IDENTITY_INSERT [dbo].[CA_MST_ExaminationScheme] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_LibraryEquipmentsType] ON 

INSERT [dbo].[CA_MST_LibraryEquipmentsType] ([Id], [FacultyCode], [TypeOfEquipment]) VALUES (1, 3, N'Type of Computer')
INSERT [dbo].[CA_MST_LibraryEquipmentsType] ([Id], [FacultyCode], [TypeOfEquipment]) VALUES (2, 3, N'E-Mail')
INSERT [dbo].[CA_MST_LibraryEquipmentsType] ([Id], [FacultyCode], [TypeOfEquipment]) VALUES (3, 3, N'Connected to any network')
SET IDENTITY_INSERT [dbo].[CA_MST_LibraryEquipmentsType] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_LibraryServicesList] ON 

INSERT [dbo].[CA_MST_LibraryServicesList] ([Id], [FacultyCode], [ServiceName]) VALUES (1, 3, N'Literature Search')
INSERT [dbo].[CA_MST_LibraryServicesList] ([Id], [FacultyCode], [ServiceName]) VALUES (2, 3, N'Compiling Bibliography on request')
INSERT [dbo].[CA_MST_LibraryServicesList] ([Id], [FacultyCode], [ServiceName]) VALUES (3, 3, N'Compiling Bibliography in anticipation')
SET IDENTITY_INSERT [dbo].[CA_MST_LibraryServicesList] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_CommitteeNames] ON 

INSERT [dbo].[CA_MST_Med_CommitteeNames] ([Id], [CommitteeName], [FacultyCode], [SubFacultyCode]) VALUES (9, N'Academic council details', N'1', NULL)
INSERT [dbo].[CA_MST_Med_CommitteeNames] ([Id], [CommitteeName], [FacultyCode], [SubFacultyCode]) VALUES (10, N'Anti-ragging committee', N'1', NULL)
INSERT [dbo].[CA_MST_Med_CommitteeNames] ([Id], [CommitteeName], [FacultyCode], [SubFacultyCode]) VALUES (11, N'Gender harassment committee', N'1', NULL)
SET IDENTITY_INSERT [dbo].[CA_MST_Med_CommitteeNames] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibraryEquipments] ON 

INSERT [dbo].[CA_MST_Med_LibraryEquipments] ([SlNo], [FacultyCode], [EquipmentName]) VALUES (1, N'1', N'Photocopying Machine')
INSERT [dbo].[CA_MST_Med_LibraryEquipments] ([SlNo], [FacultyCode], [EquipmentName]) VALUES (2, N'1', N'Audio Visual')
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibraryEquipments] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibraryItems] ON 

INSERT [dbo].[CA_MST_Med_LibraryItems] ([SlNo], [FacultyCode], [ItemName]) VALUES (1, N'1', N'Books')
INSERT [dbo].[CA_MST_Med_LibraryItems] ([SlNo], [FacultyCode], [ItemName]) VALUES (2, N'1', N'Current Journals (No. of Titles)')
INSERT [dbo].[CA_MST_Med_LibraryItems] ([SlNo], [FacultyCode], [ItemName]) VALUES (3, N'1', N'Bound Volumes of Journals')
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibraryItems] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] ON 

INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] ([SlNo], [FacultyCode], [ProcessName]) VALUES (1, N'1', N'Classification scheme used')
INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] ([SlNo], [FacultyCode], [ProcessName]) VALUES (2, N'1', N'Subject Headings used')
INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] ([SlNo], [FacultyCode], [ProcessName]) VALUES (3, N'1', N'Cataloguing Code used')
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] ON 

INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] ([Id], [ActivityName], [FacultyCode], [DepartmentCode]) VALUES (1, N'Conferences Conducted', N'1', N'MD001')
INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] ([Id], [ActivityName], [FacultyCode], [DepartmentCode]) VALUES (2, N'TOT Programmes – Conducted', N'1', N'MD001')
INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] ([Id], [ActivityName], [FacultyCode], [DepartmentCode]) VALUES (3, N'CME Programmes', N'1', N'MD001')
SET IDENTITY_INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_MediLibraryServices] ON 

INSERT [dbo].[CA_MST_MediLibraryServices] ([ServiceId], [ServiceName], [CreatedDate]) VALUES (1, N'Do you provide library search services?', CAST(N'2026-01-07T12:56:31.997' AS DateTime))
INSERT [dbo].[CA_MST_MediLibraryServices] ([ServiceId], [ServiceName], [CreatedDate]) VALUES (2, N'Do you provide online search services, including Selective Dissemination of Information (SDI)?', CAST(N'2026-01-07T12:56:31.997' AS DateTime))
INSERT [dbo].[CA_MST_MediLibraryServices] ([ServiceId], [ServiceName], [CreatedDate]) VALUES (3, N'Do you provide indexing and metadata services?', CAST(N'2026-01-07T12:56:31.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[CA_MST_MediLibraryServices] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_RegisterRecord] ON 

INSERT [dbo].[CA_MST_RegisterRecord] ([RegisterRecordId], [RegisterName], [FacultyId], [CourseLevel], [AffiliationType]) VALUES (1, N'Do you maintain a register of student intake, admissions, and withdrawals?', 1, N'UG', 2)
INSERT [dbo].[CA_MST_RegisterRecord] ([RegisterRecordId], [RegisterName], [FacultyId], [CourseLevel], [AffiliationType]) VALUES (2, N'Do you maintain a register containing details of every admitted student?', 1, N'UG', 2)
INSERT [dbo].[CA_MST_RegisterRecord] ([RegisterRecordId], [RegisterName], [FacultyId], [CourseLevel], [AffiliationType]) VALUES (3, N'Do you maintain a register for student attendance in all subjects?', 1, N'UG', 2)
SET IDENTITY_INSERT [dbo].[CA_MST_RegisterRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_UserDetails] ON 

INSERT [dbo].[CA_MST_UserDetails] ([Id], [FacultyCode], [CategoryName]) VALUES (1, N'3', N'No. of teaching staff')
INSERT [dbo].[CA_MST_UserDetails] ([Id], [FacultyCode], [CategoryName]) VALUES (2, N'3', N'No. of Research Scholars / Assistants')
INSERT [dbo].[CA_MST_UserDetails] ([Id], [FacultyCode], [CategoryName]) VALUES (3, N'3', N'No. of Post Graduate Students')
SET IDENTITY_INSERT [dbo].[CA_MST_UserDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_VD_VehicleFor] ON 

INSERT [dbo].[CA_MST_VD_VehicleFor] ([Id], [FacultyCode], [VehicleForCode], [VehicleForName]) VALUES (1, 3, N'STU', N'For Students')
INSERT [dbo].[CA_MST_VD_VehicleFor] ([Id], [FacultyCode], [VehicleForCode], [VehicleForName]) VALUES (2, 3, N'INT', N'For Interns')
INSERT [dbo].[CA_MST_VD_VehicleFor] ([Id], [FacultyCode], [VehicleForCode], [VehicleForName]) VALUES (3, 3, N'AMB', N'Ambulance')
SET IDENTITY_INSERT [dbo].[CA_MST_VD_VehicleFor] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_YearOfStudy] ON 

INSERT [dbo].[CA_MST_YearOfStudy] ([YearOfStudyId], [YearName]) VALUES (1, N'1st Year')
INSERT [dbo].[CA_MST_YearOfStudy] ([YearOfStudyId], [YearName]) VALUES (2, N'2nd Year')
INSERT [dbo].[CA_MST_YearOfStudy] ([YearOfStudyId], [YearName]) VALUES (3, N'3rd Year')
SET IDENTITY_INSERT [dbo].[CA_MST_YearOfStudy] OFF
GO
SET IDENTITY_INSERT [dbo].[Med_CA_MST_StaffDesignation] ON 

INSERT [dbo].[Med_CA_MST_StaffDesignation] ([SlNo], [FacultyCode], [SubFacultyCode], [Designation]) VALUES (1, N'1', NULL, N'Professor')
INSERT [dbo].[Med_CA_MST_StaffDesignation] ([SlNo], [FacultyCode], [SubFacultyCode], [Designation]) VALUES (2, N'1', NULL, N'Associate Professor / Readers')
INSERT [dbo].[Med_CA_MST_StaffDesignation] ([SlNo], [FacultyCode], [SubFacultyCode], [Designation]) VALUES (3, N'1', NULL, N'Assistant Professor')
SET IDENTITY_INSERT [dbo].[Med_CA_MST_StaffDesignation] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_Lic_AcademicCouncilMembers] ON 

INSERT [dbo].[MST_Lic_AcademicCouncilMembers] ([Id], [ACMemberName], [CollegeCode], [CollegeName], [EmailId], [MobileNumber], [Address], [AcCode], [CreatedAt]) VALUES (1, N'Dr. Venkatesh Rao', N'CLG001', N'ABC Engineering College', N'venkatesh.rao@abc.edu', N'9123456701', N'Chennai', N'AC0001', CAST(N'2026-02-19T16:38:56.2133333' AS DateTime2))
INSERT [dbo].[MST_Lic_AcademicCouncilMembers] ([Id], [ACMemberName], [CollegeCode], [CollegeName], [EmailId], [MobileNumber], [Address], [AcCode], [CreatedAt]) VALUES (2, N'Dr. Meera Iyer', N'CLG002', N'XYZ Arts & Science College', N'meera.iyer@xyz.edu', N'9123456702', N'Coimbatore', N'AC0002', CAST(N'2026-02-19T16:38:56.2133333' AS DateTime2))
INSERT [dbo].[MST_Lic_AcademicCouncilMembers] ([Id], [ACMemberName], [CollegeCode], [CollegeName], [EmailId], [MobileNumber], [Address], [AcCode], [CreatedAt]) VALUES (3, N'Dr. Arun Prasad', N'CLG003', N'LMN Polytechnic College', N'arun.prasad@lmn.edu', N'9123456703', N'Trichy', N'AC0003', CAST(N'2026-02-19T16:38:56.2133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MST_Lic_AcademicCouncilMembers] OFF
GO
INSERT [dbo].[MST_LIC_Inspection_AllotedMembersDetails] ([SL_No], [TypeofMemebers], [College_Name], [Address], [MemberName], [Phone_No], [Email]) VALUES (1, N'Academic Council', N'Shri Atal Bihari Vajpayee Medical College and Research Institute', N'Bengaluru', N'DR. SRINIVASULU NAIDU. S', 9880656516, N'srnvslnaidu@gmail.com')
INSERT [dbo].[MST_LIC_Inspection_AllotedMembersDetails] ([SL_No], [TypeofMemebers], [College_Name], [Address], [MemberName], [Phone_No], [Email]) VALUES (2, N'Academic Council', N'Bangalore Medical College and Research Institute', N'Bengaluru', N'DR. B.V MARUTHI PRASAD', 9980145271, N'maruthibio2007@gmail.com')
INSERT [dbo].[MST_LIC_Inspection_AllotedMembersDetails] ([SL_No], [TypeofMemebers], [College_Name], [Address], [MemberName], [Phone_No], [Email]) VALUES (3, N'Academic Council', N'Kempegowda Institute of Medical Sciences', N'Bengaluru', N'DR. S. R JAGANNATHA', 9886334494, N'drjagannathasr@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[MST_LIC_Inspection_Members] ON 

INSERT [dbo].[MST_LIC_Inspection_Members] ([Id], [TypeofMemebers], [LICId]) VALUES (1, N'Senate Members', N'Senate Members')
INSERT [dbo].[MST_LIC_Inspection_Members] ([Id], [TypeofMemebers], [LICId]) VALUES (2, N'Academic Council', N'Academic Council')
INSERT [dbo].[MST_LIC_Inspection_Members] ([Id], [TypeofMemebers], [LICId]) VALUES (3, N'Subject Expertise', N'Subject Expertise')
SET IDENTITY_INSERT [dbo].[MST_LIC_Inspection_Members] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_Lic_SenateMembers] ON 

INSERT [dbo].[MST_Lic_SenateMembers] ([Id], [CollegeCode], [CollegeName], [SenateMemberName], [SeCode], [EmailId], [MobileNumber], [Address], [CreatedAt]) VALUES (1, N'CLG001', N'ABC Engineering College', N'Ramesh Kumar', N'SE0001', N'ramesh.kumar@abc.edu', N'9876543210', N'Chennai', CAST(N'2026-02-19T16:38:56.2133333' AS DateTime2))
INSERT [dbo].[MST_Lic_SenateMembers] ([Id], [CollegeCode], [CollegeName], [SenateMemberName], [SeCode], [EmailId], [MobileNumber], [Address], [CreatedAt]) VALUES (2, N'CLG002', N'XYZ Arts & Science College', N'Suresh Patel', N'SE0002', N'suresh.patel@xyz.edu', N'9876543211', N'Coimbatore', CAST(N'2026-02-19T16:38:56.2133333' AS DateTime2))
INSERT [dbo].[MST_Lic_SenateMembers] ([Id], [CollegeCode], [CollegeName], [SenateMemberName], [SeCode], [EmailId], [MobileNumber], [Address], [CreatedAt]) VALUES (3, N'CLG003', N'LMN Polytechnic College', N'Anita Sharma', N'SE0003', N'anita.sharma@lmn.edu', N'9876543212', N'Trichy', CAST(N'2026-02-19T16:38:56.2133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MST_Lic_SenateMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_Lic_SubjectExpertiseMembers] ON 

INSERT [dbo].[MST_Lic_SubjectExpertiseMembers] ([Id], [ExpMemberName], [CollegeCode], [CollegeName], [EmailId], [MobileNumber], [Address], [ExpCode], [CreatedAt]) VALUES (1, N'Prof. Arjun Singh', N'CLG001', N'ABC Engineering College', N'arjun.singh@abc.edu', N'9012345601', N'Chennai', N'EX0001', CAST(N'2026-02-19T16:38:56.2166667' AS DateTime2))
INSERT [dbo].[MST_Lic_SubjectExpertiseMembers] ([Id], [ExpMemberName], [CollegeCode], [CollegeName], [EmailId], [MobileNumber], [Address], [ExpCode], [CreatedAt]) VALUES (2, N'Prof. Kavitha Nair', N'CLG002', N'XYZ Arts & Science College', N'kavitha.nair@xyz.edu', N'9012345602', N'Coimbatore', N'EX0002', CAST(N'2026-02-19T16:38:56.2166667' AS DateTime2))
INSERT [dbo].[MST_Lic_SubjectExpertiseMembers] ([Id], [ExpMemberName], [CollegeCode], [CollegeName], [EmailId], [MobileNumber], [Address], [ExpCode], [CreatedAt]) VALUES (3, N'Prof. Ramesh Iyer', N'CLG003', N'LMN Polytechnic College', N'ramesh.iyer@lmn.edu', N'9012345603', N'Trichy', N'EX0003', CAST(N'2026-02-19T16:38:56.2166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MST_Lic_SubjectExpertiseMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_MedicalCourseType] ON 

INSERT [dbo].[MST_MedicalCourseType] ([CourseTypeId], [CourseTypeName], [Description], [IsUG], [IsPG], [IsSS], [Status], [CreatedDate], [ModifiedDate]) VALUES (1, N'UG', N'Under Graduate courses only', 1, 0, 0, N'Active', CAST(N'2026-01-01T12:56:09.1666667' AS DateTime2), CAST(N'2026-01-01T12:56:09.1666667' AS DateTime2))
INSERT [dbo].[MST_MedicalCourseType] ([CourseTypeId], [CourseTypeName], [Description], [IsUG], [IsPG], [IsSS], [Status], [CreatedDate], [ModifiedDate]) VALUES (2, N'PG', N'Post Graduate courses only', 0, 1, 0, N'Active', CAST(N'2026-01-01T12:56:09.1666667' AS DateTime2), CAST(N'2026-01-01T12:56:09.1666667' AS DateTime2))
INSERT [dbo].[MST_MedicalCourseType] ([CourseTypeId], [CourseTypeName], [Description], [IsUG], [IsPG], [IsSS], [Status], [CreatedDate], [ModifiedDate]) VALUES (3, N'SS', N'Super Specialty courses only', 0, 0, 1, N'Active', CAST(N'2026-01-01T12:56:09.1666667' AS DateTime2), CAST(N'2026-01-01T12:56:09.1666667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MST_MedicalCourseType] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CA_MST_E__8B17EDD51852E5AC]    Script Date: 08-Apr-26 3:50:14 PM ******/
ALTER TABLE [dbo].[CA_MST_ExaminationScheme] ADD UNIQUE NONCLUSTERED 
(
	[SchemeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CA_MST_E__8B17EDD56C6E6C8B]    Script Date: 08-Apr-26 3:50:14 PM ******/
ALTER TABLE [dbo].[CA_MST_ExaminationScheme] ADD UNIQUE NONCLUSTERED 
(
	[SchemeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CA_MST_M__A42B5F99B925352D]    Script Date: 08-Apr-26 3:50:14 PM ******/
ALTER TABLE [dbo].[CA_MST_MediLibraryServices] ADD UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MST_Medi__3CFBF7726D5766A0]    Script Date: 08-Apr-26 3:50:14 PM ******/
ALTER TABLE [dbo].[MST_MedicalCourseType] ADD UNIQUE NONCLUSTERED 
(
	[CourseTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MST_Medi__3CFBF772D6C791D9]    Script Date: 08-Apr-26 3:50:14 PM ******/
ALTER TABLE [dbo].[MST_MedicalCourseType] ADD UNIQUE NONCLUSTERED 
(
	[CourseTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CA_MST_CourseCurriculum] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CA_MST_CourseCurriculum] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_MST_Med_LibraryEquipments] ADD  DEFAULT ('1') FOR [FacultyCode]
GO
ALTER TABLE [dbo].[CA_MST_Med_LibraryItems] ADD  DEFAULT ('1') FOR [FacultyCode]
GO
ALTER TABLE [dbo].[CA_MST_Med_LibTechnicalProcess] ADD  DEFAULT ('1') FOR [FacultyCode]
GO
ALTER TABLE [dbo].[CA_MST_MediLibraryServices] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MST_Lic_AcademicCouncilMembers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MST_Lic_SenateMembers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MST_Lic_SubjectExpertiseMembers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MST_MedicalCourseType] ADD  DEFAULT ((0)) FOR [IsUG]
GO
ALTER TABLE [dbo].[MST_MedicalCourseType] ADD  DEFAULT ((0)) FOR [IsPG]
GO
ALTER TABLE [dbo].[MST_MedicalCourseType] ADD  DEFAULT ((0)) FOR [IsSS]
GO
ALTER TABLE [dbo].[MST_MedicalCourseType] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[MST_MedicalCourseType] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MST_MedicalCourseType] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[MST_MedicalCourseType]  WITH CHECK ADD CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[MST_MedicalCourseType]  WITH CHECK ADD CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
