USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[CA_MST_CourseCurriculum]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_CourseCurriculum](
	[CurriculumId] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CurriculumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_ExaminationScheme]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_ExaminationScheme](
	[SchemeId] [int] IDENTITY(1,1) NOT NULL,
	[SchemeCode] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_LibraryEquipmentsType]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_LibraryEquipmentsType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[TypeOfEquipment] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_LibraryServicesList]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_LibraryServicesList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_CommitteeNames]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_CommitteeNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommitteeName] [nvarchar](200) NOT NULL,
	[FacultyCode] [nvarchar](20) NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_LibraryEquipments]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_LibraryEquipments](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[EquipmentName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_LibraryItems]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_LibraryItems](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[ItemName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_LibTechnicalProcess]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_LibTechnicalProcess](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[ProcessName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_Med_OtherAcademicActivities]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_Med_OtherAcademicActivities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [nvarchar](200) NOT NULL,
	[FacultyCode] [nvarchar](20) NOT NULL,
	[DepartmentCode] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_MediLibraryServices]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_MediLibraryServices](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_RegisterRecord]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_RegisterRecord](
	[RegisterRecordId] [int] IDENTITY(1,1) NOT NULL,
	[RegisterName] [nvarchar](300) NOT NULL,
	[FacultyId] [int] NULL,
	[CourseLevel] [varchar](5) NULL,
	[AffiliationType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegisterRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_UserDetails]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_UserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](10) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_VD_VehicleFor]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_VD_VehicleFor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[VehicleForCode] [nvarchar](10) NOT NULL,
	[VehicleForName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MST_YearOfStudy]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MST_YearOfStudy](
	[YearOfStudyId] [int] IDENTITY(1,1) NOT NULL,
	[YearName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YearOfStudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Med_CA_MST_StaffDesignation]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Med_CA_MST_StaffDesignation](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](20) NOT NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
	[Designation] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Med_MST_SpecialityDepartmentsLibrary]    Script Date: 08-Apr-26 12:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Med_MST_SpecialityDepartmentsLibrary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](5) NOT NULL,
	[SpecialityDepartments] [nvarchar](200) NOT NULL,
	[DepartmentID] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CA_MST_CourseCurriculum] ON 

INSERT [dbo].[CA_MST_CourseCurriculum] ([CurriculumId], [CurriculumName], [IsActive], [CreatedOn]) VALUES (1, N'Teaching Schedule - of the currrent Year ', 1, CAST(N'2025-12-30T16:40:40.400' AS DateTime))
INSERT [dbo].[CA_MST_CourseCurriculum] ([CurriculumId], [CurriculumName], [IsActive], [CreatedOn]) VALUES (2, N'Time Table', 1, CAST(N'2025-12-30T16:40:40.400' AS DateTime))
INSERT [dbo].[CA_MST_CourseCurriculum] ([CurriculumId], [CurriculumName], [IsActive], [CreatedOn]) VALUES (3, N'Working Hours', 1, CAST(N'2025-12-30T16:40:40.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[CA_MST_CourseCurriculum] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_ExaminationScheme] ON 

INSERT [dbo].[CA_MST_ExaminationScheme] ([SchemeId], [SchemeCode]) VALUES (1, N'RS3')
INSERT [dbo].[CA_MST_ExaminationScheme] ([SchemeId], [SchemeCode]) VALUES (2, N'RS4')
INSERT [dbo].[CA_MST_ExaminationScheme] ([SchemeId], [SchemeCode]) VALUES (3, N'RS5')
SET IDENTITY_INSERT [dbo].[CA_MST_ExaminationScheme] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_LibraryEquipmentsType] ON 

INSERT [dbo].[CA_MST_LibraryEquipmentsType] ([Id], [FacultyCode], [TypeOfEquipment]) VALUES (1, 3, N'Type of Computer')
INSERT [dbo].[CA_MST_LibraryEquipmentsType] ([Id], [FacultyCode], [TypeOfEquipment]) VALUES (2, 3, N'E-Mail')
INSERT [dbo].[CA_MST_LibraryEquipmentsType] ([Id], [FacultyCode], [TypeOfEquipment]) VALUES (3, 3, N'Connected to any network')
SET IDENTITY_INSERT [dbo].[CA_MST_LibraryEquipmentsType] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_LibraryServicesList] ON 

INSERT [dbo].[CA_MST_LibraryServicesList] ([Id], [FacultyCode], [ServiceName]) VALUES (1, 3, N'Literature Search')
INSERT [dbo].[CA_MST_LibraryServicesList] ([Id], [FacultyCode], [ServiceName]) VALUES (2, 3, N'Compiling Bibliography on request')
INSERT [dbo].[CA_MST_LibraryServicesList] ([Id], [FacultyCode], [ServiceName]) VALUES (3, 3, N'Compiling Bibliography in anticipation')
SET IDENTITY_INSERT [dbo].[CA_MST_LibraryServicesList] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_CommitteeNames] ON 

INSERT [dbo].[CA_MST_Med_CommitteeNames] ([Id], [CommitteeName], [FacultyCode], [SubFacultyCode]) VALUES (9, N'Academic council details', N'1', NULL)
INSERT [dbo].[CA_MST_Med_CommitteeNames] ([Id], [CommitteeName], [FacultyCode], [SubFacultyCode]) VALUES (10, N'Anti-ragging committee', N'1', NULL)
INSERT [dbo].[CA_MST_Med_CommitteeNames] ([Id], [CommitteeName], [FacultyCode], [SubFacultyCode]) VALUES (11, N'Gender harassment committee', N'1', NULL)
SET IDENTITY_INSERT [dbo].[CA_MST_Med_CommitteeNames] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibraryEquipments] ON 

INSERT [dbo].[CA_MST_Med_LibraryEquipments] ([SlNo], [FacultyCode], [EquipmentName]) VALUES (1, N'1', N'Photocopying Machine')
INSERT [dbo].[CA_MST_Med_LibraryEquipments] ([SlNo], [FacultyCode], [EquipmentName]) VALUES (2, N'1', N'Audio Visual')
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibraryEquipments] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibraryItems] ON 

INSERT [dbo].[CA_MST_Med_LibraryItems] ([SlNo], [FacultyCode], [ItemName]) VALUES (1, N'1', N'Books')
INSERT [dbo].[CA_MST_Med_LibraryItems] ([SlNo], [FacultyCode], [ItemName]) VALUES (2, N'1', N'Current Journals (No. of Titles)')
INSERT [dbo].[CA_MST_Med_LibraryItems] ([SlNo], [FacultyCode], [ItemName]) VALUES (3, N'1', N'Bound Volumes of Journals')
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibraryItems] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] ON 

INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] ([SlNo], [FacultyCode], [ProcessName]) VALUES (1, N'1', N'Classification scheme used')
INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] ([SlNo], [FacultyCode], [ProcessName]) VALUES (2, N'1', N'Subject Headings used')
INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] ([SlNo], [FacultyCode], [ProcessName]) VALUES (3, N'1', N'Cataloguing Code used')
SET IDENTITY_INSERT [dbo].[CA_MST_Med_LibTechnicalProcess] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] ON 

INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] ([Id], [ActivityName], [FacultyCode], [DepartmentCode]) VALUES (1, N'Conferences Conducted', N'1', N'MD001')
INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] ([Id], [ActivityName], [FacultyCode], [DepartmentCode]) VALUES (2, N'TOT Programmes – Conducted', N'1', N'MD001')
INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] ([Id], [ActivityName], [FacultyCode], [DepartmentCode]) VALUES (3, N'CME Programmes', N'1', N'MD001')
SET IDENTITY_INSERT [dbo].[CA_MST_Med_OtherAcademicActivities] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_MediLibraryServices] ON 

INSERT [dbo].[CA_MST_MediLibraryServices] ([ServiceId], [ServiceName], [CreatedDate]) VALUES (1, N'Do you provide library search services?', CAST(N'2026-01-07T12:56:31.997' AS DateTime))
INSERT [dbo].[CA_MST_MediLibraryServices] ([ServiceId], [ServiceName], [CreatedDate]) VALUES (2, N'Do you provide online search services, including Selective Dissemination of Information (SDI)?', CAST(N'2026-01-07T12:56:31.997' AS DateTime))
INSERT [dbo].[CA_MST_MediLibraryServices] ([ServiceId], [ServiceName], [CreatedDate]) VALUES (3, N'Do you provide indexing and metadata services?', CAST(N'2026-01-07T12:56:31.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[CA_MST_MediLibraryServices] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_RegisterRecord] ON 

INSERT [dbo].[CA_MST_RegisterRecord] ([RegisterRecordId], [RegisterName], [FacultyId], [CourseLevel], [AffiliationType]) VALUES (1, N'Do you maintain a register of student intake, admissions, and withdrawals?', 1, N'UG', 2)
INSERT [dbo].[CA_MST_RegisterRecord] ([RegisterRecordId], [RegisterName], [FacultyId], [CourseLevel], [AffiliationType]) VALUES (2, N'Do you maintain a register containing details of every admitted student?', 1, N'UG', 2)
INSERT [dbo].[CA_MST_RegisterRecord] ([RegisterRecordId], [RegisterName], [FacultyId], [CourseLevel], [AffiliationType]) VALUES (3, N'Do you maintain a register for student attendance in all subjects?', 1, N'UG', 2)
SET IDENTITY_INSERT [dbo].[CA_MST_RegisterRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_UserDetails] ON 

INSERT [dbo].[CA_MST_UserDetails] ([Id], [FacultyCode], [CategoryName]) VALUES (1, N'3', N'No. of teaching staff')
INSERT [dbo].[CA_MST_UserDetails] ([Id], [FacultyCode], [CategoryName]) VALUES (2, N'3', N'No. of Research Scholars / Assistants')
INSERT [dbo].[CA_MST_UserDetails] ([Id], [FacultyCode], [CategoryName]) VALUES (3, N'3', N'No. of Post Graduate Students')
SET IDENTITY_INSERT [dbo].[CA_MST_UserDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_VD_VehicleFor] ON 

INSERT [dbo].[CA_MST_VD_VehicleFor] ([Id], [FacultyCode], [VehicleForCode], [VehicleForName]) VALUES (1, 3, N'STU', N'For Students')
INSERT [dbo].[CA_MST_VD_VehicleFor] ([Id], [FacultyCode], [VehicleForCode], [VehicleForName]) VALUES (2, 3, N'INT', N'For Interns')
INSERT [dbo].[CA_MST_VD_VehicleFor] ([Id], [FacultyCode], [VehicleForCode], [VehicleForName]) VALUES (3, 3, N'AMB', N'Ambulance')
SET IDENTITY_INSERT [dbo].[CA_MST_VD_VehicleFor] OFF
GO
SET IDENTITY_INSERT [dbo].[CA_MST_YearOfStudy] ON 

INSERT [dbo].[CA_MST_YearOfStudy] ([YearOfStudyId], [YearName]) VALUES (1, N'1st Year')
INSERT [dbo].[CA_MST_YearOfStudy] ([YearOfStudyId], [YearName]) VALUES (2, N'2nd Year')
INSERT [dbo].[CA_MST_YearOfStudy] ([YearOfStudyId], [YearName]) VALUES (3, N'3rd Year')
SET IDENTITY_INSERT [dbo].[CA_MST_YearOfStudy] OFF
GO
SET IDENTITY_INSERT [dbo].[Med_CA_MST_StaffDesignation] ON 

INSERT [dbo].[Med_CA_MST_StaffDesignation] ([SlNo], [FacultyCode], [SubFacultyCode], [Designation]) VALUES (1, N'1', NULL, N'Professor')
INSERT [dbo].[Med_CA_MST_StaffDesignation] ([SlNo], [FacultyCode], [SubFacultyCode], [Designation]) VALUES (2, N'1', NULL, N'Associate Professor / Readers')
INSERT [dbo].[Med_CA_MST_StaffDesignation] ([SlNo], [FacultyCode], [SubFacultyCode], [Designation]) VALUES (3, N'1', NULL, N'Assistant Professor')
SET IDENTITY_INSERT [dbo].[Med_CA_MST_StaffDesignation] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CA_MST_E__8B17EDD51852E5AC]    Script Date: 08-Apr-26 12:18:51 PM ******/
ALTER TABLE [dbo].[CA_MST_ExaminationScheme] ADD UNIQUE NONCLUSTERED 
(
	[SchemeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CA_MST_E__8B17EDD56C6E6C8B]    Script Date: 08-Apr-26 12:18:51 PM ******/
ALTER TABLE [dbo].[CA_MST_ExaminationScheme] ADD UNIQUE NONCLUSTERED 
(
	[SchemeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CA_MST_M__A42B5F99B925352D]    Script Date: 08-Apr-26 12:18:51 PM ******/
ALTER TABLE [dbo].[CA_MST_MediLibraryServices] ADD UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Med_MST_SpecialityDepartmentsLibrary_DepartmentID]    Script Date: 08-Apr-26 12:18:51 PM ******/
ALTER TABLE [dbo].[Med_MST_SpecialityDepartmentsLibrary] ADD  CONSTRAINT [UK_Med_MST_SpecialityDepartmentsLibrary_DepartmentID] UNIQUE NONCLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CA_MST_CourseCurriculum] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CA_MST_CourseCurriculum] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_MST_Med_LibraryEquipments] ADD  DEFAULT ('1') FOR [FacultyCode]
GO
ALTER TABLE [dbo].[CA_MST_Med_LibraryItems] ADD  DEFAULT ('1') FOR [FacultyCode]
GO
ALTER TABLE [dbo].[CA_MST_Med_LibTechnicalProcess] ADD  DEFAULT ('1') FOR [FacultyCode]
GO
ALTER TABLE [dbo].[CA_MST_MediLibraryServices] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
