USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[CA_AcademicMatters]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_AcademicMatters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [varchar](50) NOT NULL,
	[CollegeCode] [varchar](50) NOT NULL,
	[RegistrationNumber] [varchar](50) NULL,
	[AcademicPerformanceFile] [varbinary](max) NULL,
	[AcademicPerformanceFileName] [varchar](255) NULL,
	[TheoryClassesRatio] [varchar](20) NULL,
	[PracticalClassesRatio] [varchar](20) NULL,
	[CourseCurriculumFile] [varbinary](max) NULL,
	[CourseCurriculumFileName] [varchar](255) NULL,
	[YearOfStarting] [nvarchar](10) NULL,
	[NatureOfActivities] [varchar](500) NULL,
	[CEU_MembersFile] [varbinary](max) NULL,
	[CEU_MembersFileName] [varchar](255) NULL,
	[CEU_ProgramsFile] [varbinary](max) NULL,
	[CEU_ProgramsFileName] [varchar](255) NULL,
	[PublicationsLast3Years] [varchar](400) NULL,
	[ResearchProjectsPGStudents] [varchar](3) NULL,
	[IndexedJournalsFile] [varbinary](max) NULL,
	[IndexedJournalsFileName] [varchar](255) NULL,
	[FundedStaffListFile] [varbinary](max) NULL,
	[FundedStaffListFileName] [varchar](255) NULL,
	[AcademicCommitteeFile] [varbinary](max) NULL,
	[AcademicCommitteeFileName] [varchar](255) NULL,
	[AntiRaggingCommitteeFile] [varbinary](max) NULL,
	[AntiRaggingCommitteeFileName] [varchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_AcademicPerformance]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_AcademicPerformance](
	[AcademicPerformanceId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NULL,
	[FacultyId] [int] NULL,
	[AffiliationType] [int] NULL,
	[YearOfStudyId] [int] NULL,
	[RegularStudents] [int] NULL,
	[RepeaterStudents] [int] NULL,
	[NumberOfStudentsPassed] [int] NULL,
	[PassPercentage] [decimal](5, 2) NULL,
	[FirstClassCount] [int] NULL,
	[DistinctionCount] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AcademicPerformanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_CourseCurriculum]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_CourseCurriculum](
	[CourseCurriculumId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyId] [int] NOT NULL,
	[AffiliationType] [int] NOT NULL,
	[CurriculumId] [int] NOT NULL,
	[CurriculumDetails] [nvarchar](max) NULL,
	[CurriculumPdf] [varbinary](max) NULL,
	[PdfFileName] [nvarchar](200) NULL,
	[CreatedOn] [datetime] NULL,
	[CurriculumPdfPath] [nvarchar](500) NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseCurriculumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_CourseDetailsInFinancialDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_CourseDetailsInFinancialDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[CollegeCode] [nvarchar](10) NULL,
	[FacultyCode] [nvarchar](10) NULL,
	[CourseCode] [nvarchar](50) NOT NULL,
	[YearOfStarting] [nvarchar](50) NULL,
	[AdmissionsSanctioned] [int] NULL,
	[AdmissionsAdmitted] [int] NULL,
	[GOKSanctionIntakeFile] [varbinary](max) NULL,
	[GOKSanctionIntakeFileName] [nvarchar](250) NULL,
	[ApexBodyPermissionAndIntakeFile] [varbinary](max) NULL,
	[ApexBodyPermissionAndIntakeFileName] [nvarchar](250) NULL,
	[RGUHSSanctionIntakeFile] [varbinary](max) NULL,
	[RGUHSSanctionIntakeFileName] [nvarchar](250) NULL,
	[GOIPermissionFile] [varbinary](max) NULL,
	[GOIPermissionFileName] [nvarchar](250) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_DepartmentLibraryDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_DepartmentLibraryDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](10) NULL,
	[FacultyCode] [nvarchar](10) NULL,
	[DepartmentCode] [nvarchar](10) NULL,
	[TotalBooks] [int] NULL,
	[BooksAdded] [int] NULL,
	[CurrentJournals] [int] NULL,
	[RegistrationNo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_ExaminationScheme]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_ExaminationScheme](
	[ExaminationSchemeId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyId] [int] NOT NULL,
	[AffiliationType] [int] NOT NULL,
	[SchemeId] [int] NOT NULL,
	[NumberOfStudents] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExaminationSchemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_FinancialDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_FinancialDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[CollegeCode] [nvarchar](10) NULL,
	[FacultyCode] [nvarchar](10) NULL,
	[AnnualBudget] [decimal](18, 2) NULL,
	[AuditedExpenditureFile] [varbinary](max) NULL,
	[AuditedExpenditureFileName] [nvarchar](250) NULL,
	[DepositsHeld] [decimal](18, 2) NULL,
	[TuitionFee] [decimal](18, 2) NULL,
	[UnionFee] [decimal](18, 2) NULL,
	[SportsFee] [decimal](18, 2) NULL,
	[LibraryFee] [decimal](18, 2) NULL,
	[OthersFee] [decimal](18, 2) NULL,
	[AccountBooksMaintained] [char](1) NULL,
	[AccountsDulyAudited] [char](1) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_LibraryDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_LibraryDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[CollegeCode] [nvarchar](10) NULL,
	[FacultyCode] [nvarchar](10) NULL,
	[TotalNursingBooks] [int] NULL,
	[TotalNursingJournals] [int] NULL,
	[InternetFacility] [bit] NULL,
	[TotalThesis] [int] NULL,
	[TotalEBooks] [int] NULL,
	[BooksPurchasedLastYear] [int] NULL,
	[TotalBudget] [decimal](10, 2) NULL,
	[IndependentBuilding] [bit] NULL,
	[TotalFloorAreaSqFt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_LibraryServices]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_LibraryServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](10) NULL,
	[FacultyCode] [nvarchar](10) NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[ServiceName] [nvarchar](200) NULL,
	[Specify] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_LibraryStaffDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_LibraryStaffDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[CollegeCode] [nvarchar](20) NULL,
	[FacultyCode] [nvarchar](20) NULL,
	[StaffName] [nvarchar](50) NOT NULL,
	[Qualification] [nvarchar](50) NULL,
	[ExperienceYears] [int] NULL,
	[Remarks] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_Lib_Committee]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_Lib_Committee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyCode] [nvarchar](20) NOT NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[CommitteeId] [int] NOT NULL,
	[IsPresent] [char](1) NOT NULL,
	[CommitteePdf] [varbinary](max) NULL,
	[CommitteePdfName] [nvarchar](200) NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_Lib_OtherAcademicActivities]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_Lib_OtherAcademicActivities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NULL,
	[FacultyCode] [nvarchar](20) NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[ActivityId] [int] NOT NULL,
	[DepartmentWise] [nvarchar](200) NOT NULL,
	[ActivityPdf] [varbinary](max) NULL,
	[ActivityPdfName] [nvarchar](200) NULL,
	[DepartmentCode] [nvarchar](20) NOT NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_LibraryBuilding]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_LibraryBuilding](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[CollegeCode] [nvarchar](25) NOT NULL,
	[SubFacultyCode] [nvarchar](25) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[IsIndependent] [char](1) NULL,
	[AreaSqMtrs] [decimal](10, 2) NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_LibraryEquipments]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_LibraryEquipments](
	[SlNo] [int] NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[CollegeCode] [nvarchar](25) NOT NULL,
	[SubFacultyCode] [nvarchar](25) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[EquipmentName] [nvarchar](255) NOT NULL,
	[HasEquipment] [char](1) NULL,
	[CourseLevel] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC,
	[FacultyCode] ASC,
	[CollegeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_LibraryFinance]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_LibraryFinance](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[CollegeCode] [nvarchar](25) NOT NULL,
	[SubFacultyCode] [nvarchar](25) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[TotalBudgetLakhs] [decimal](18, 2) NULL,
	[ExpenditureBooksLakhs] [decimal](18, 2) NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_LibraryGeneral]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_LibraryGeneral](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[CollegeCode] [nvarchar](25) NOT NULL,
	[SubFacultyCode] [nvarchar](25) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[LibraryEmailID] [nvarchar](255) NULL,
	[DigitalLibrary] [char](1) NULL,
	[HelinetServices] [char](1) NULL,
	[DepartmentWiseLibrary] [char](1) NULL,
	[CourseLevel] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CA_MedLibraryGenerals] PRIMARY KEY CLUSTERED 
(
	[FacultyCode] ASC,
	[CollegeCode] ASC,
	[CourseLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_LibraryItems]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_LibraryItems](
	[SlNo] [int] NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[CollegeCode] [nvarchar](25) NOT NULL,
	[SubFacultyCode] [nvarchar](25) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[ItemName] [nvarchar](255) NOT NULL,
	[CurrentForeign] [int] NULL,
	[CurrentIndian] [int] NULL,
	[PreviousForeign] [int] NULL,
	[PreviousIndian] [int] NULL,
	[CourseLevel] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CA_Med_LibraryItems] PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC,
	[FacultyCode] ASC,
	[CollegeCode] ASC,
	[CourseLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_LibTechnicalProcess]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_LibTechnicalProcess](
	[SlNo] [int] NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[CollegeCode] [nvarchar](25) NOT NULL,
	[SubFacultyCode] [nvarchar](25) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[ProcessName] [nvarchar](255) NOT NULL,
	[Value] [nvarchar](500) NULL,
	[CourseLevel] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CA_Med_LibTechnicalProcess] PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC,
	[FacultyCode] ASC,
	[CollegeCode] ASC,
	[CourseLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_ResearchPublicationsDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_ResearchPublicationsDetails](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyCode] [nvarchar](20) NOT NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[PublicationsNo] [int] NULL,
	[PublicationsPdf] [varbinary](max) NULL,
	[PublicationsPdfName] [nvarchar](200) NULL,
	[PI] [nvarchar](50) NULL,
	[RGUHSFunded] [int] NULL,
	[ExternalBodyFunding] [int] NULL,
	[ProjectsPdf] [varbinary](max) NULL,
	[ProjectsPdfName] [nvarchar](200) NULL,
	[ClinicalTrialsPdf] [varbinary](max) NULL,
	[ClinicalTrialsPdfName] [nvarchar](200) NULL,
	[StudentsRGUHSFunded] [int] NULL,
	[StudentsExternalBodyFunding] [int] NULL,
	[StudentsProjectsPdf] [varbinary](max) NULL,
	[StudentsProjectsPdfName] [nvarchar](200) NULL,
	[FacultyRGUHSFunded] [int] NULL,
	[FacultyExternalBodyFunding] [int] NULL,
	[FacultyProjectsPdf] [varbinary](max) NULL,
	[FacultyProjectsPdfName] [nvarchar](200) NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_StaffParticularsOther]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_StaffParticularsOther](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[CollegeCode] [nvarchar](25) NOT NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[SubFacultyCode] [nvarchar](25) NULL,
	[TeachersUpdatedInEMS] [char](1) NULL,
	[ExaminerDetailsAttached] [char](1) NULL,
	[ExaminerDetailsPdfName] [nvarchar](255) NULL,
	[ExaminerDetailsPdf] [varbinary](max) NULL,
	[AEBASLastThreeMonthsPdfName] [nvarchar](255) NULL,
	[AEBASLastThreeMonthsPdf] [varbinary](max) NULL,
	[AEBASInspectionDayPdfName] [nvarchar](255) NULL,
	[AEBASInspectionDayPdf] [varbinary](max) NULL,
	[ServiceRegisterMaintained] [char](1) NULL,
	[AcquittanceRegisterMaintained] [char](1) NULL,
	[ProvidentFundPdfName] [nvarchar](255) NULL,
	[ProvidentFundPdf] [varbinary](max) NULL,
	[ESIPdfName] [nvarchar](255) NULL,
	[ESIPdf] [varbinary](max) NULL,
	[CourseLevel] [nvarchar](10) NULL,
	[TeachersUpdatedPdf] [varbinary](max) NULL,
	[TeachersUpdatedPdfName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Med_StaffPArticularsOther_Temp]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Med_StaffPArticularsOther_Temp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](50) NOT NULL,
	[FacultyCode] [nvarchar](50) NOT NULL,
	[TeachersUpdatedInEms] [nvarchar](10) NULL,
	[ExaminerDetailsAttached] [nvarchar](10) NULL,
	[ServiceRegisterMaintained] [nvarchar](10) NULL,
	[AcquittanceRegisterMaintained] [nvarchar](10) NULL,
	[ExaminerDetailsPdf] [varbinary](max) NULL,
	[ExaminerDetailsPdfName] [nvarchar](255) NULL,
	[AebaslastThreeMonthsPdf] [varbinary](max) NULL,
	[AebaslastThreeMonthsPdfName] [nvarchar](255) NULL,
	[AebasinspectionDayPdf] [varbinary](max) NULL,
	[AebasinspectionDayPdfName] [nvarchar](255) NULL,
	[ProvidentFundPdf] [varbinary](max) NULL,
	[ProvidentFundPdfName] [nvarchar](255) NULL,
	[Esipdf] [varbinary](max) NULL,
	[EsipdfName] [nvarchar](255) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[TeachersUpdatedPdf] [varbinary](max) NULL,
	[TeachersUpdatedPdfName] [nvarchar](255) NULL,
	[CourseLevel] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MedicalDepartmentLibrary]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MedicalDepartmentLibrary](
	[DepartmentalLibraryId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationType] [int] NOT NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[DepartmentCode] [nvarchar](20) NOT NULL,
	[TotalBooks] [int] NOT NULL,
	[BooksAddedInYear] [int] NOT NULL,
	[CurrentJournals] [int] NOT NULL,
	[LibraryStaff] [nvarchar](500) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentalLibraryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MedicalLibraryOtherDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MedicalLibraryOtherDetails](
	[DigitalValuationId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationType] [int] NOT NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[HasDigitalValuationCentre] [nvarchar](3) NOT NULL,
	[NoOfSystems] [int] NULL,
	[HasStableInternet] [nvarchar](3) NULL,
	[HasCCCameraSystem] [nvarchar](3) NULL,
	[UploadedFileName] [nvarchar](255) NULL,
	[SpecialFeaturesAchievementspdf] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[SpecialFeaturesQuestion] [varchar](10) NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DigitalValuationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MedicalLibraryServices]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MedicalLibraryServices](
	[LibraryServiceId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationType] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[IsAvailable] [nvarchar](3) NOT NULL,
	[UploadedFileName] [nvarchar](255) NULL,
	[UploadedPdf] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[RegistrationNo] [nvarchar](15) NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[LibraryServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MedicalLibraryStaff]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MedicalLibraryStaff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](50) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationType] [int] NOT NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[StaffName] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](100) NOT NULL,
	[Qualification] [nvarchar](100) NOT NULL,
	[Experience] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_MedicalLibraryUsageReport]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_MedicalLibraryUsageReport](
	[UsageReportId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationType] [int] NOT NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[UploadedFileName] [nvarchar](255) NULL,
	[UploadedFileData] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CourseLevel] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsageReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Nursing_CollectionDevelopment]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Nursing_CollectionDevelopment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](10) NOT NULL,
	[FacultyCode] [nvarchar](10) NOT NULL,
	[DocumentType] [nvarchar](200) NOT NULL,
	[TotalCurrentYear] [int] NULL,
	[AddedPreviousYear] [int] NULL,
	[RegistrationNo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_Nursing_LibraryEquipments]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Nursing_LibraryEquipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](10) NULL,
	[FacultyCode] [nvarchar](10) NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[EquipmentType] [nvarchar](200) NULL,
	[sAvailable] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_SS_AffiliationGrantedYear]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_SS_AffiliationGrantedYear](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](50) NOT NULL,
	[CourseCode] [int] NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[AffiliationDate] [date] NULL,
	[SanctionedIntake] [int] NULL,
	[FileData] [varbinary](max) NULL,
	[FileName] [nvarchar](300) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CoursesApplied] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_SS_LICPreviousInspection]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_SS_LICPreviousInspection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[InspectionDate] [date] NULL,
	[ActionTaken] [nvarchar](500) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CoursesApplied] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_SS_LOPSavedDate]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_SS_LOPSavedDate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](50) NOT NULL,
	[CourseCode] [int] NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[SanctionedIntake] [int] NULL,
	[LopDate] [date] NULL,
	[RecognitionDate] [date] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CoursesApplied] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_SS_OtherCoursesConducted]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_SS_OtherCoursesConducted](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[SanctionedIntake] [nvarchar](100) NULL,
	[DocumentData] [varbinary](max) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[FileName] [nvarchar](255) NULL,
	[CourseLevel] [nvarchar](10) NOT NULL,
	[CoursesApplied] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_SS_Permission]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_SS_Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](50) NOT NULL,
	[CourseCode] [int] NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[PermissionStatus] [nvarchar](20) NOT NULL,
	[FileData] [varbinary](max) NULL,
	[FileName] [nvarchar](300) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CoursesApplied] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_StudentRegisterRecords]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_StudentRegisterRecords](
	[StudentRegisterRecordId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NULL,
	[FacultyId] [int] NULL,
	[AffiliationType] [int] NULL,
	[RegisterRecordId] [int] NULL,
	[IsMaintained] [nvarchar](10) NULL,
	[CreatedOn] [datetime] NULL,
	[CourseLevel] [nvarchar](10) NULL,
	[RegisterRecord] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentRegisterRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_UserDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_UserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [nvarchar](10) NULL,
	[CollegeCode] [nvarchar](10) NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[CategoryName] [nvarchar](200) NULL,
	[TotalNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_VehicleDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_VehicleDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](10) NULL,
	[FacultyCode] [nvarchar](10) NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[VehicleRegNo] [nvarchar](50) NOT NULL,
	[VehicleForCode] [nvarchar](10) NOT NULL,
	[SeatingCapacity] [int] NULL,
	[ValidityDate] [date] NULL,
	[RcBookStatus] [char](1) NULL,
	[InsuranceStatus] [char](1) NULL,
	[DrivingLicenseStatus] [char](1) NULL,
	[CourseLevel] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndoorBedsOccupancy]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndoorBedsOccupancy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AffiliationTypeId] [int] NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[CollegeCode] [varchar](10) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SeatSlabId] [varchar](10) NOT NULL,
	[RGUHSintake] [int] NOT NULL,
	[CollegeIntake] [int] NOT NULL,
	[CourseLevel] [varchar](10) NULL,
 CONSTRAINT [PK_IndoorBedsOccupancy_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndoorInfrastructureRequirementsCompliance]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndoorInfrastructureRequirementsCompliance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationTypeId] [int] NOT NULL,
	[HospitalDetailsId] [int] NOT NULL,
	[CollegeCode] [varchar](100) NOT NULL,
	[RequirementId] [int] NOT NULL,
	[IsCompliant] [bit] NOT NULL,
	[Remarks] [varchar](1000) NULL,
	[InspectedOn] [datetime] NOT NULL,
	[SectionCode] [varchar](50) NULL,
	[CourseLevel] [varchar](10) NULL,
 CONSTRAINT [PK_IndoorInfrastructureRequirementsCompliance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Med_CA_AccountAndFeeDetails]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Med_CA_AccountAndFeeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](25) NOT NULL,
	[FacultyCode] [nvarchar](25) NOT NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[GoverningCouncilPdf] [varbinary](max) NULL,
	[GoverningCouncilPdfName] [nvarchar](255) NULL,
	[AuthorityNameAddress] [nvarchar](max) NOT NULL,
	[AuthorityContact] [nvarchar](20) NOT NULL,
	[RecurrentAnnual] [decimal](18, 2) NOT NULL,
	[NonRecurrentAnnual] [decimal](18, 2) NOT NULL,
	[Deposits] [decimal](18, 2) NOT NULL,
	[TuitionFee] [decimal](18, 2) NOT NULL,
	[SportsFee] [decimal](18, 2) NOT NULL,
	[UnionFee] [decimal](18, 2) NOT NULL,
	[LibraryFee] [decimal](18, 2) NOT NULL,
	[OtherFee] [decimal](18, 2) NOT NULL,
	[TotalFee] [decimal](18, 2) NOT NULL,
	[AccountBooksMaintained] [char](1) NOT NULL,
	[AccountSummaryPdf] [varbinary](max) NULL,
	[AccountSummaryPdfName] [nvarchar](200) NULL,
	[AccountsAudited] [char](1) NOT NULL,
	[AuditedStatementPdf] [varbinary](max) NULL,
	[AuditedStatementPdfName] [nvarchar](200) NULL,
	[CourseLevel] [nvarchar](10) NOT NULL,
	[DonationLevied] [char](1) NULL,
	[DonationPdf] [varbinary](max) NULL,
	[DonationPdfName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Med_CA_AccountAndFeeDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[CollegeCode] ASC,
	[FacultyCode] ASC,
	[CourseLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Med_CA_StaffParticulars]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Med_CA_StaffParticulars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NOT NULL,
	[FacultyCode] [nvarchar](20) NOT NULL,
	[SubFacultyCode] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[DesignationSlNo] [int] NOT NULL,
	[PayScale] [decimal](18, 2) NOT NULL,
	[CourseLevel] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Med_CA_StaffParticulars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[CollegeCode] ASC,
	[FacultyCode] ASC,
	[DesignationSlNo] ASC,
	[CourseLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StaffParticulars_CollegeFacultyDesignation_Level] UNIQUE NONCLUSTERED 
(
	[CollegeCode] ASC,
	[FacultyCode] ASC,
	[DesignationSlNo] ASC,
	[CourseLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StaffParticulars_CollegeFacultyDesignationLevel] UNIQUE NONCLUSTERED 
(
	[CollegeCode] ASC,
	[FacultyCode] ASC,
	[DesignationSlNo] ASC,
	[CourseLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuperVisionInFieldPracticeArea]    Script Date: 08-Apr-26 12:15:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperVisionInFieldPracticeArea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Post] [varchar](200) NOT NULL,
	[Name] [varchar](300) NOT NULL,
	[Qualification] [varchar](300) NOT NULL,
	[YearOfQualification] [date] NOT NULL,
	[University] [varchar](300) NOT NULL,
	[UgFromDate] [date] NOT NULL,
	[UgToDate] [date] NOT NULL,
	[PgFromDate] [date] NOT NULL,
	[PgToDate] [date] NOT NULL,
	[Responsibilities] [varchar](max) NOT NULL,
	[CollegeCode] [varchar](20) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[AffiliationTypeId] [int] NOT NULL,
	[HospitalDetailsId] [int] NOT NULL,
	[CourseLevel] [varchar](10) NULL,
 CONSTRAINT [PK_SuperVisionInFieldPracticeArea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CA_AcademicMatters] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CA_AcademicPerformance] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_CourseCurriculum] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_CourseDetailsInFinancialDetails] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CA_ExaminationScheme] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_FinancialDetails] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CA_Med_StaffPArticularsOther_Temp] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_MedicalDepartmentLibrary] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CA_MedicalLibraryOtherDetails] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CA_MedicalLibraryServices] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CA_MedicalLibraryStaff] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_MedicalLibraryUsageReport] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CA_SS_AffiliationGrantedYear] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_SS_LICPreviousInspection] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_SS_LOPSavedDate] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_SS_OtherCoursesConducted] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_SS_Permission] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CA_StudentRegisterRecords] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[IndoorBedsOccupancy] ADD  DEFAULT ((0)) FOR [RGUHSintake]
GO
ALTER TABLE [dbo].[IndoorBedsOccupancy] ADD  DEFAULT ((0)) FOR [CollegeIntake]
GO
ALTER TABLE [dbo].[IndoorInfrastructureRequirementsCompliance] ADD  DEFAULT (getdate()) FOR [InspectedOn]
GO
ALTER TABLE [dbo].[IndoorBedsOccupancy]  WITH CHECK ADD  CONSTRAINT [FK_IndoorBedsOccupancy_AffiliationTypeId] FOREIGN KEY([AffiliationTypeId])
REFERENCES [dbo].[TypeOfAffiliation] ([TypeId])
GO
ALTER TABLE [dbo].[IndoorBedsOccupancy] CHECK CONSTRAINT [FK_IndoorBedsOccupancy_AffiliationTypeId]
GO
ALTER TABLE [dbo].[IndoorBedsOccupancy]  WITH CHECK ADD  CONSTRAINT [FK_IndoorBedsOccupancy_FacultyCode] FOREIGN KEY([FacultyCode])
REFERENCES [dbo].[Faculty] ([FacultyId])
GO
ALTER TABLE [dbo].[IndoorBedsOccupancy] CHECK CONSTRAINT [FK_IndoorBedsOccupancy_FacultyCode]
GO
ALTER TABLE [dbo].[IndoorInfrastructureRequirementsCompliance]  WITH CHECK ADD  CONSTRAINT [FK_InfraComp_Affiliation] FOREIGN KEY([AffiliationTypeId])
REFERENCES [dbo].[TypeOfAffiliation] ([TypeId])
GO
ALTER TABLE [dbo].[IndoorInfrastructureRequirementsCompliance] CHECK CONSTRAINT [FK_InfraComp_Affiliation]
GO
ALTER TABLE [dbo].[IndoorInfrastructureRequirementsCompliance]  WITH CHECK ADD  CONSTRAINT [FK_InfraComp_Faculty] FOREIGN KEY([FacultyCode])
REFERENCES [dbo].[Faculty] ([FacultyId])
GO
ALTER TABLE [dbo].[IndoorInfrastructureRequirementsCompliance] CHECK CONSTRAINT [FK_InfraComp_Faculty]
GO
ALTER TABLE [dbo].[IndoorInfrastructureRequirementsCompliance]  WITH CHECK ADD  CONSTRAINT [FK_InfraComp_Hospital] FOREIGN KEY([HospitalDetailsId])
REFERENCES [dbo].[HospitalDetailsForAffiliation] ([HospitalDetailsID])
GO
ALTER TABLE [dbo].[IndoorInfrastructureRequirementsCompliance] CHECK CONSTRAINT [FK_InfraComp_Hospital]
GO
ALTER TABLE [dbo].[SuperVisionInFieldPracticeArea]  WITH CHECK ADD  CONSTRAINT [FK_SuperVisionInFieldPracticeArea_Affiliation] FOREIGN KEY([AffiliationTypeId])
REFERENCES [dbo].[TypeOfAffiliation] ([TypeId])
GO
ALTER TABLE [dbo].[SuperVisionInFieldPracticeArea] CHECK CONSTRAINT [FK_SuperVisionInFieldPracticeArea_Affiliation]
GO
ALTER TABLE [dbo].[SuperVisionInFieldPracticeArea]  WITH CHECK ADD  CONSTRAINT [FK_SuperVisionInFieldPracticeArea_Faculty] FOREIGN KEY([FacultyCode])
REFERENCES [dbo].[Faculty] ([FacultyId])
GO
ALTER TABLE [dbo].[SuperVisionInFieldPracticeArea] CHECK CONSTRAINT [FK_SuperVisionInFieldPracticeArea_Faculty]
GO
ALTER TABLE [dbo].[SuperVisionInFieldPracticeArea]  WITH CHECK ADD  CONSTRAINT [FK_SuperVisionInFieldPracticeArea_HospitalDetails] FOREIGN KEY([HospitalDetailsId])
REFERENCES [dbo].[HospitalDetailsForAffiliation] ([HospitalDetailsID])
GO
ALTER TABLE [dbo].[SuperVisionInFieldPracticeArea] CHECK CONSTRAINT [FK_SuperVisionInFieldPracticeArea_HospitalDetails]
GO
ALTER TABLE [dbo].[CA_MedicalLibraryOtherDetails]  WITH CHECK ADD CHECK  (([HasCCCameraSystem]='No' OR [HasCCCameraSystem]='Yes'))
GO
ALTER TABLE [dbo].[CA_MedicalLibraryOtherDetails]  WITH CHECK ADD CHECK  (([HasDigitalValuationCentre]='No' OR [HasDigitalValuationCentre]='Yes'))
GO
ALTER TABLE [dbo].[CA_MedicalLibraryOtherDetails]  WITH CHECK ADD CHECK  (([HasStableInternet]='No' OR [HasStableInternet]='Yes'))
GO
ALTER TABLE [dbo].[IndoorBedsOccupancy]  WITH CHECK ADD  CONSTRAINT [CK_IndoorBedsOccupancy_Intake] CHECK  (([CollegeIntake]<=[RGUHSintake]))
GO
ALTER TABLE [dbo].[IndoorBedsOccupancy] CHECK CONSTRAINT [CK_IndoorBedsOccupancy_Intake]
GO
