USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[TeachingStaffDepartmentWiseDetails]    Script Date: 08-Apr-26 4:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeachingStaffDepartmentWiseDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollegeCode] [nvarchar](20) NULL,
	[FacultyCode] [nvarchar](20) NULL,
	[CourseLevel] [nvarchar](10) NULL,
	[DepartmentCode] [nvarchar](20) NULL,
	[DesignationCode] [nvarchar](20) NULL,
	[DesignationName] [nvarchar](100) NULL,
	[UGFrom] [date] NULL,
	[UGTo] [date] NULL,
	[PGFrom] [date] NULL,
	[PGTo] [date] NULL,
	[TotalExperience] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
