USE [Admission_Affiliation]
GO
/****** Object:  Table [dbo].[DepartmentMastersForUG]    Script Date: 25-05-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentMastersForUG](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NOT NULL,
	[DepartmentCode] [varchar](50) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UG_Faculty_Details]    Script Date: 25-05-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UG_Faculty_Details](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NULL,
	[CollegeCode] [varchar](50) NULL,
	[DepartmentCode] [varchar](50) NULL,
	[NameOftheFaculty] [varchar](200) NULL,
	[DesignationCode] [varchar](50) NULL,
	[DOB] [varchar](20) NULL,
	[DateOfAppointment] [varchar](20) NULL,
	[AadhaarNo] [nvarchar](20) NULL,
	[PANNo] [nvarchar](20) NULL,
	[MobileNo] [nvarchar](20) NOT NULL,
	[EmailId] [nvarchar](200) NULL,
	[StateCouncilRegNo] [nvarchar](200) NULL,
	[AEBASAttendId] [nvarchar](100) NULL,
	[ProfessionalQualification] [nvarchar](100) NULL,
	[NatureOfEmployment] [nvarchar](100) NULL,
	[TeachingExpInYrs] [nvarchar](100) NULL,
	[PhotoFilePath] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
	[IPAddress] [varchar](50) NULL,
	[IsDeclared] [bit] NULL,
	[PrincipalName] [varchar](200) NULL,
	[PrintedCopyUploaded] [bit] NULL,
	[RowTimestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_UG_Faculty_Details] PRIMARY KEY CLUSTERED 
(
	[MobileNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UG_Printed_Upload]    Script Date: 25-05-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UG_Printed_Upload](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyCode] [int] NULL,
	[CollegeCode] [nvarchar](100) NULL,
	[DocumentPath] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[IPAddress] [varchar](50) NULL,
 CONSTRAINT [PK__UG_Print__3214EC27586625B2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UGDesignationMaster]    Script Date: 25-05-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UGDesignationMaster](
	[ID] [int] NOT NULL,
	[DesignationID] [varchar](10) NOT NULL,
	[DesignationName] [varchar](100) NOT NULL,
	[Order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DepartmentMastersForUG] ON 

INSERT [dbo].[DepartmentMastersForUG] ([Id], [FacultyCode], [DepartmentCode], [DepartmentName]) VALUES (1, 1, N'MD001', N'Anatomy')
INSERT [dbo].[DepartmentMastersForUG] ([Id], [FacultyCode], [DepartmentCode], [DepartmentName]) VALUES (2, 1, N'MD002', N'Physiology')
INSERT [dbo].[DepartmentMastersForUG] ([Id], [FacultyCode], [DepartmentCode], [DepartmentName]) VALUES (3, 1, N'MD003', N'Biochemistry')
SET IDENTITY_INSERT [dbo].[DepartmentMastersForUG] OFF
GO
INSERT [dbo].[UGDesignationMaster] ([ID], [DesignationID], [DesignationName], [Order]) VALUES (1, N'D001', N'Professor', 1)
INSERT [dbo].[UGDesignationMaster] ([ID], [DesignationID], [DesignationName], [Order]) VALUES (2, N'D002', N'Associate Professor', 2)
INSERT [dbo].[UGDesignationMaster] ([ID], [DesignationID], [DesignationName], [Order]) VALUES (3, N'D003', N'Assistant Professor', 3)
GO
ALTER TABLE [dbo].[UG_Faculty_Details] ADD  CONSTRAINT [DF__UG_Facult__Creat__7EC1CEDB]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UG_Faculty_Details] ADD  CONSTRAINT [DF__UG_Facult__IsDec__7FB5F314]  DEFAULT ((0)) FOR [IsDeclared]
GO
ALTER TABLE [dbo].[UG_Faculty_Details] ADD  CONSTRAINT [DF__UG_Facult__Print__00AA174D]  DEFAULT ((0)) FOR [PrintedCopyUploaded]
GO
ALTER TABLE [dbo].[UG_Printed_Upload] ADD  CONSTRAINT [DF__UG_Printe__Creat__038683F8]  DEFAULT (getdate()) FOR [CreatedOn]
GO
