@model AdminTeachAndHostelDisplayVM

<div class="general-section">
    <div class="general-header">
        <div class="header-content">
            <div class="d-flex justify-content-between align-items-start flex-wrap gap-3">
                <div>
                    <h2 class="academic-title academic-badge">Admin and Hostel Details</h2>
                </div>

                <a class="edit-button"
                   href="@Url.Action("EditAcademic", "CollegeAffiliation", new { collegeCode = Model.CollegeCode })">
                    <i class="bi bi-pencil-square"></i>
                    <span>Edit section</span>
                </a>
            </div>
        </div>
    </div>

    @if (Model != null)
    {
        <div id="admin-members">
            @await Html.PartialAsync("AdminTeachAndHostel/_AdminTeach", Model.AdminTeachingBlockDisplayVM)
        </div>
    }
    @if (Model != null)
    {
        <div id="hostel-details">
            @await Html.PartialAsync("AdminTeachAndHostel/_HostelDetails", Model.HostelDetailsVM)
        </div>
    }
    @if (Model != null)
    { 
        <div id="hostel-details">
            @await Html.PartialAsync("AdminTeachAndHostel/_HostelFacilities", Model.AffHostelFacilitiesVM)
        </div>
    }
</div>