@* Views/Shared/_InstructionsPartial.cshtml *@
@* No @model needed since content is static *@
<style>
    li{
        font-weight: normal;
    }
</style>

<div class="alert alert-info mb-3" role="alert">
    <h4 class="mb-2 text-center text-decoration-underline">
        Instructions
    </h4>

    <ol class="mb-0 ps-3">
        <li class="mb-1">
            If the college established, i.e., 2012-13 and before (before 2013-14) parent hospital rule is not applicable (F.NO.1-5/2014-INC).
        </li>
        
        <li class="mb-1">
            Colleges established since 2013-14 shall have 100 bed parent hospital for opening new B.Sc Nursing Programme. But central/state govt institutions can have clinical affiliation with govt hospitals and having parent hospital is not applicable. Other specialties / facilities for clinical experience required are:-OT, Eye/ENT, Burns & Plastic, Neonatology, Communicable disease, cardiology, oncology, Neuro, Nephro, ICU/ICCU (Ref: F.NO.1-5/2014-INC dtd 29/10/2014 and F.NO.1-6/2018-INC dtd 20/04/2018)
        </li>
        <li class="mb-1">
            Colleges established 2021-22 onwards should have 100 bedded (Unitary/Single Hospital) parent/own hospital. Parent Hospital for a nursing institution having the same Trust/Society/Company which has established the nursing institution and has also established the hospital.hospital either owned and OR a controlled by the Trust/Society/Company or managed and controlled by a trustee/member/director of the Trust/Society/Company. In case the owner of the hospital is a trustee/member/director of the Trust/Society/Company, then the hospital would continue to function as a Parent Hospital' till the life of the nursing institution and not allow the hospital to be treated as Parent/Affiliated Hospital to any other nursing institution and will be for minimum 30 years. (Ref: The gazette of India extraordinary part III-section 4 published by authority, [Indian Nursing Council (revised regulations and curriculum for B.Sc. (nursing) program, regulations, 2020] 5th July, 2021 F.NO. 11-1/2019-INC.)
        </li>
        <li class="mb-1">
            College and hospital should be owned by same trust.
        </li>
        <li class="mb-1">
            In addition to parent hospital of 100 beds, to offer clinical experience/specialties the students should be sent to affiliated hospital/agencies/institutions where it is available with minimum of 50 beds. The gazette of India extraordinary part III-section 4 published by authority, [Indian Nursing Council {revised regulations and curriculum for B.Sc. (nursing) program, regulations, 2020] 5th July, 2021 F.NO. 11-1/2019-INC.)
        </li>
        <li class="mb-1">
            For All the Fresh Colleges Maximum Sanctioned intake shall be 40.
        </li>
        <li class="mb-1">
            Attach the original KPMEA documents, pollution control certificate of the hospitals to prove the ownership of the hospital and the number of beds. (Mandatorily, the hospital name and no. of beds (100/200) should display in the official website of KPMEA(In case of KPMEA Certificate) and KSPCB (in case of Pollution control board certificate) every year. If no. of beds is less than (100/200) in any academic year, Affiliation will be withdrawn.)
        </li>
        <li class="mb-1">
            Distance between Hospital & college will be maximum 30 kilometer
            50 kilometer radius in hilly/tribal areas.
        </li>
        <li class="mb-1">
            Attach the MOU (undertaking) between trust member (owner of the hospital) and the trust [i.e., signed by all trustees/members/directors of Trust /Society/Company]. owning the nursing institution with the clause to the effect that the trustee/member/director of the Trust/Society/Company would not allow the hospital to be treated Parent/Affiliated Hospital' to any other nursing institution and will be for minimum 30 years.
        </li>
        
    </ol>
</div>
